
<%- include("header"); -%>
<h3>  This is the about page and we are trying out the latest view page  </h3>


<p>
awrfgwvaw faevaewfvwaonhouhu9iwav dfawvibiuuibibuidwav  uihguihvewda
wijbibjuuinuivewb waeibubouibluwvui vawuiuhuohiuhiudvwa
</p>

<%- include("footer"); -%>